@charset "UTF-8";
@keyframes BtnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0rem);
  }
}
@keyframes LeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0rem);
  }
}
@keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0rem);
  }
}
@keyframes TopToBottom {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  80% {
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0rem);
  }
}
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 1240px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 40%;
  }
}
@media only screen and (max-width: 640px) {
  html {
    font-size: 35%;
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}

body {
  background-color: #fff;
}

body {
  font-family: "Montserrat";
  font-weight: 300;
  color: #000000;
  font-size: 1.6rem;
}

.title {
  font-weight: 700;
  font-size: 4rem;
}

/* позицианирование */
.text-align-center {
  text-align: center;
}
@media only screen and (max-width: 640px) {
  .text-align-center_phone {
    text-align: center;
  }
}

.align-items-end {
  display: flex;
  align-items: end;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.justify-content-end {
  display: flex;
  justify-content: end;
}

.text-decoration-none:link, .text-decoration-none:visited {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 640px) {
  .flex_phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 640px) {
  .phone-display-none {
    display: none;
  }
}

.no-phone-display-none {
  display: none;
}
@media only screen and (max-width: 640px) {
  .no-phone-display-none {
    display: flex;
  }
}

.position-right {
  display: flex;
  align-items: center;
  float: right;
}
@media only screen and (max-width: 640px) {
  .position-right {
    position: absolute;
    right: 3rem;
  }
}
.position-right_2 {
  display: flex;
  align-items: center;
  position: absolute;
  right: 15rem;
}

.position-right-center {
  display: flex;
  align-items: center;
  float: right;
}
@media only screen and (max-width: 640px) {
  .position-right-center {
    display: block;
    text-align: center;
    float: none;
  }
}

.float-left {
  float: left;
}

/* отступы сверху */
.margin-top-5px {
  margin-top: 0.5rem;
}

.margin-top-10px {
  margin-top: 1rem;
}

.margin-top-15px {
  margin-top: 1.5rem;
}

.margin-top-20px {
  margin-top: 2rem;
}

.margin-top-30px {
  margin-top: 3rem;
}

.margin-top-40px {
  margin-top: 4rem;
}

.margin-top-250px {
  margin-top: 25rem;
}

.margin-top-300px {
  margin-top: 30rem;
}

.margin-top-325px {
  margin-top: 32.5rem;
}

/* отступы снизу */
.margin-bottom-0px {
  margin-bottom: 0rem;
}

.margin-bottom-5px {
  margin-bottom: 0.5rem;
}

.margin-bottom-10px {
  margin-bottom: 1rem;
}

.margin-bottom-20px {
  margin-bottom: 2rem;
}

.margin-bottom-25px {
  margin-bottom: 2.5rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-35px {
  margin-bottom: 3.5rem;
}

.margin-bottom-40px {
  margin-bottom: 4rem;
}

.margin-bottom-50px {
  margin-bottom: 5rem;
}

.margin-bottom-80px {
  margin-bottom: 8rem;
}

.margin-bottom-90px {
  margin-bottom: 9rem;
}

.margin-bottom-100px {
  margin-bottom: 10rem;
}

/* отстуты справа */
.margin-right-10px {
  margin-right: 1rem;
}

.margin-right-20px {
  margin-right: 2rem;
}

/* colors */
.color__white {
  color: #fff;
}

.z-index {
  position: relative;
  z-index: 100;
}

.position-relative {
  position: relative;
}

.margin-right-100px {
  margin-right: 10rem;
}

.display-none {
  display: none;
}

.opasity-0 {
  opacity: 0;
}

.transform-rotate-180 {
  transform: rotate(180deg);
}

.telephone {
  background: #fff;
  border-radius: 10rem;
  width: 6rem;
  height: 6rem;
  position: fixed;
  z-index: 150;
  right: 4.5rem;
  bottom: 4.5rem;
  padding: 1rem;
  box-shadow: 0rem 1.5rem 4rem 0.2rem rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 900px) {
  .telephone {
    width: 7.5rem;
    height: 7.5rem;
  }
}
@media only screen and (max-width: 640px) {
  .telephone {
    width: 6.5rem;
    height: 6.5rem;
    right: 2.5rem;
    bottom: 2.5rem;
  }
}
.telephone__img {
  background: url(../icons/call-button.png) center/cover no-repeat;
  width: 5.5rem;
  height: 5.5rem;
  position: absolute;
  z-index: 200;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.telephone__number:link, .telephone__number:visited {
  background: #fff;
  border-radius: 10rem;
  width: 6rem;
  height: 6rem;
  position: fixed;
  z-index: 100;
  right: 4.5rem;
  bottom: 4.5rem;
  padding: 1rem;
}
@media only screen and (max-width: 900px) {
  .telephone__number:link, .telephone__number:visited {
    width: 7.5rem;
    height: 7.5rem;
  }
}
@media only screen and (max-width: 640px) {
  .telephone__number:link, .telephone__number:visited {
    width: 6.5rem;
    height: 6.5rem;
    right: 2.5rem;
    bottom: 2.5rem;
  }
}
.telephone__number:hover {
  transform: scale(1.1);
}
.telephone__number:hover::after {
  opacity: 0;
  transform: scaleX(1.7) scaleY(1.7);
}
.telephone__number:active {
  box-shadow: 0rem 4rem 4rem 0rem rgba(0, 0, 0, 0.1);
}
.telephone__number::after {
  content: "";
  background: white;
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  border-radius: 5rem;
  top: 0;
  left: 0;
  z-index: -3;
  transition: all 0.4s;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  background: #fff;
  width: 100%;
  height: 10rem;
  box-shadow: 0rem 4rem 4rem 0rem rgba(0, 0, 0, 0.1);
}
.nav__title {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-size: 2.5rem;
  font-weight: 400;
}
.nav__title-desc {
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 300;
}
.nav__logo {
  width: 27.2rem;
  height: 4.8rem;
}
.nav__logo-img {
  width: 9.4rem;
  height: 11.3rem;
}
.nav__menu {
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.navigation {
  display: flex;
  justify-content: end;
  align-items: center;
}
.navigation__item {
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  justify-content: end;
}
.navigation__item:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  color: #EAA47D;
}
.navigation__arrow {
  width: 2.5rem;
  height: 2.5rem;
  transform: translateY(0.2rem);
}

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  padding: 0.6rem 1.6rem;
  background: #EAA47D;
  font-size: 1.6rem;
  font-weight: 400;
  box-shadow: 0rem 4rem 4rem 0rem rgba(0, 0, 0, 0.1);
  position: absolute;
  right: -8rem;
  border-radius: 9rem;
}
.btn:link:hover, .btn:visited:hover {
  transform: scaleX(1.05) scaleY(1.05);
  color: #fff;
}
@media only screen and (max-width: 640px) {
  .btn:link, .btn:visited {
    font-size: 2.4rem;
  }
}
.btn_animated {
  animation: RightToLeft;
  animation-duration: 1.7s;
  animation-delay: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
}
.btn__img {
  width: 1.7rem;
  height: 1.7rem;
  transform: translateY(0.2rem);
}

.btn-widget {
  position: absolute;
  right: -2.7rem;
  top: 10rem;
  border: 0;
  border-radius: 6rem;
  width: 5.6rem;
  height: 5.6rem;
}
.btn-widget:hover {
  transform: translateX(0.5rem);
}
.btn-widget:hover::after {
  opacity: 0;
  transform: scaleX(1.7) scaleY(1.7);
}
.btn-widget:active {
  box-shadow: 0rem 4rem 4rem 0rem rgba(0, 0, 0, 0.1);
}
.btn-widget::after {
  content: "";
  background: rgba(250, 250, 250, 0.9);
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  border-radius: 5rem;
  top: 0;
  left: 0;
  z-index: -3;
  transition: all 0.4s;
}

.widget {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  background: rgba(250, 250, 250, 0.9);
  width: 40%;
  height: 100vh;
  transition: 0.6s all;
  padding: 10rem 0 6rem 25rem;
}
.widget__is-open {
  width: 65%;
  opacity: 1;
}
.widget__days {
  position: relative;
  width: 15rem;
  left: 5rem;
  top: 20rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.widget__day {
  font-size: 4.8rem;
  font-weight: 300;
  color: #545454;
}
.widget__day_is-hovered {
  position: absolute;
  left: 1.5rem;
  top: 1rem;
  font-size: 3.2rem;
  font-weight: 500;
  color: #EAA47D;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.widget__day_is-selected {
  color: #EAA47D;
  font-weight: 400;
}
.widget__line {
  position: absolute;
  left: 190px;
  top: 0;
  width: 2px;
  height: 100%;
  background: #EAA47D;
  opacity: 0;
  transition: all 0.3s;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 3.5rem;
}
@media only screen and (max-width: 900px) {
  .row:not(:last-child) {
    margin-bottom: 4rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 1240px) {
  .row {
    max-width: 100rem;
  }
}
@media only screen and (max-width: 900px) {
  .row {
    max-width: 90rem;
  }
}
@media only screen and (max-width: 640px) {
  .row {
    max-width: 40rem;
  }
}

.row-header {
  max-width: 114rem;
  margin: 0 auto;
}
.row-header:not(:last-child) {
  margin-bottom: 3.5rem;
}
@media only screen and (max-width: 900px) {
  .row-header:not(:last-child) {
    margin-bottom: 4rem;
  }
}
.row-header::after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 1240px) {
  .row-header {
    max-width: 90.1rem;
  }
}
@media only screen and (min-width: 1800px) {
  .row-header {
    max-width: 130rem;
  }
}

.row-section {
  max-width: 114rem;
  margin: 0 auto;
}
.row-section:not(:last-child) {
  margin-bottom: 3.5rem;
}
@media only screen and (max-width: 900px) {
  .row-section:not(:last-child) {
    margin-bottom: 4rem;
  }
}
.row-section::after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 1240px) {
  .row-section {
    max-width: 90.1rem;
  }
}
@media only screen and (min-width: 1800px) {
  .row-section {
    max-width: 130rem;
  }
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
@media only screen and (max-width: 1240px) {
  .col-1-of-2 {
    width: calc((100% - 2rem) / 2);
  }
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
@media only screen and (max-width: 1240px) {
  .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3);
  }
}

.col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
@media only screen and (max-width: 1240px) {
  .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4);
  }
}

.col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}

.col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 2 * 6rem);
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 1240px) {
  [class^=col-]:not(:last-child) {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 640px) {
  [class^=col-] {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 4rem;
  }
}

.margin-bottom-0px {
  margin-bottom: 0rem;
}

.section-first {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: url(../img/schedule-bg.png) center/cover no-repeat;
  overflow: hidden;
}

.section-third {
  padding: 5rem 0 10rem 0;
}

.opasity-1 {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */