//Цвет текста

//Основные цвета сайта
$color-header: #606D75
$color-yellow: #FED85D
$color-gray: #d9d9d9
$color-gray-dark: #303030


//Черный и белый цвета
$color-black: #000
$color-white: #fff

//Тень для кнопок
$box-shadow: 0rem 4rem 4rem 0rem rgba(0, 0, 0, 0.10)
$shadow-h2: .5rem .4rem .4rem rgba($color-black, .25)
//Отступ снизу
$margin-vertical-big: 3.5rem

//Ширина grid
$grid-width: 114rem

//Отступ справа
$gutter-horizontal: 6rem

//Типографика 
$font-size-paragraph: 1.6rem 
$font-size-paragraph-h2: 3.6rem
$font-size-paragraph-h3: 2rem 
$font-size-paragraph-18: 1.8rem