
.footer-end
    position: relative
    width: 100%
    height: 8.8rem
    background: $color-black
    display: flex
    align-items: center
    &__first
        position: absolute
        left: 11.4%





