.footer
    background: $color-gray-dark
    position: relative
    &__book
        position: absolute
        width: 62rem
        height: 50rem
        clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%)
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.90) 3.24%, rgba(255, 255, 255, 0.90) 88.76%)
        @include respond(tab-land)
            width: 48rem
        @include respond(phone)
            width: 100%
            clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%)
.contact-menu
    width: 45rem
    margin-top: 4rem
    margin-left: 5rem
    @include respond(phone)
        margin: 2rem auto
    &__tel
        &:link, &:visited
            @include style-link($color-white)
            margin-left: 4.5rem
            font-size: 2rem
    &__description
        color: $color-white
        font-size: $font-size-paragraph-28
        font-weight: 400
        text-align: center
    &__contact
        margin-left: 4.5rem
        color: $color-white
        font-size: $font-size-paragraph-h3
        text-decoration: none
    &__icons
        position: absolute
        width: 3rem
        height: 3rem
        margin-top: -0.3rem
    &__link
        &:link, &:visited
            display: inline-block
            text-transform: uppercase
            text-decoration: none
    &__social-media
        width: 5rem
        height: 5rem

.footer-end
    position: relative
    bottom: 0
    width: 100%
    height: 8.8rem
    background: $color-black
    padding-top: 2rem





