.footer
    background: $color-gray-dark
    position: relative
    &__book
        position: absolute
        width: 62rem
        height: 50rem
        clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%)
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.90) 3.24%, rgba(255, 255, 255, 0.90) 88.76%)
        @include respond(tab-land)
            width: 48rem
.contact-menu
    position: absolute
    top: 550px
    left: 55%
    width: 45rem
    &__description
        color: $color-white
        font-size: $font-size-paragraph-28
        font-weight: 400
        text-align: center
    &__contact
        margin-left: 3rem
        color: $color-white
        font-size: $font-size-paragraph-h3
    &__icons
        position: absolute

.footer-end
    position: relative
    bottom: 0
    width: 100%
    height: 8.8rem
    background: $color-black
    padding-top: 2rem





