.btn
    &:link, &:visited
        @include style-link($color-black)
        padding: .6rem 3.6rem
        background: $color-yellow
        font-size: 2rem
        font-weight: 400
        box-shadow: $box-shadow
        &:hover
            transform: scaleX(1.1) scaleY(1.1) 
    &_animated
        animation: RightToLeft
        animation-duration: 1.7s
        animation-delay: 1s
        animation-timing-function: ease
        backface-visibility: hidden
    &-card
        &:link, &:visited
            @include style-link($color-black)
            padding: .6rem 3.6rem
            font-size: 2rem
            font-weight: 400
            box-shadow: $box-shadow
            height: 3.6rem
            background: $color-yellow
            &:hover
                transform: scaleX(1.1) scaleY(1.1) 
