.navigation
    position: fixed
    top: 0
    left: 0
    z-index: 200
    width: 100%
    height: 7rem
    background: $color-white
    box-shadow: $box-shadow
    padding-top: 2.2rem
    &__list
        display: flex
        flex-direction: row
        align-items: center
        list-style-type: none
        animation: RightToLeft
        animation-duration: 1.7s
        animation-delay: 1s
        animation-timing-function: ease
        backface-visibility: hidden
    &__item
        display: inline
        margin-right: 4.5rem
    &__big-item
        position: absolute
        z-index: 125
    &__link
        &:hover
            transform: scale(1.1)
        &:link, &:visited
            @include style-link($color-black)
            font-size: 2rem
            font-weight: 400
            font-style: normal
    &__logo
        animation: LeftToRight
        animation-duration: 1.7s
        animation-delay: 1s
        animation-timing-function: ease
        backface-visibility: hidden
        @include respond(tab-land)
            display: none
        &_2
            font-size: 3.6rem
            display: none
            @include respond(tab-land)
                display: block  