.section-first
    position: relative
    width: 100%
    height: 100vh
    z-index: 1
    background: gray
.widget
    position: absolute
    top: 0
    left: 0
    z-index: 200
    background: $color-white
    opacity: 0.5
    width: 33%
    height: 100%
    &-active
        position: absolute
        top: 0
        left: 33%
        z-index: 200
        background: $color-white
        opacity: 0.5
        width: 33%
        height: 100%
    &__day
        font-size: 3.2rem
        font-weight: 400
        color: $color-orange
