.section-first
    position: relative
    width: 100%
    height: 100vh
    z-index: 1
    background: url(../img/photo_section-1.jpg) center / cover no-repeat
    overflow: hidden

.section-second
    padding: 5rem 0 10rem 0
    &__sub-title
        position: absolute
        right: 0
        top: 1.5rem

.section-third
    padding: 5rem 0 10rem 0
    &__sub-title
        position: absolute
        right: 0
        top: 1.5rem

.section-fourth
    padding: 5rem 0 10rem 0
.footer
    padding: 0 0 5.5rem 0
    &__row
        position: relative
    &-paragraph
        font-size: 3rem
        font-weight: 500
    &__line
        border-top: 1px solid $color-black
    &__link
        &:link, &:visited
            text-decoration: none
            color: black
        &:hover
            color: $color-orange
    &-site 
        position: absolute
        right: 0
        top: 0
    &__name 
        font-size: 3rem
        font-weight: 400
    &__item
        display: flex
        margin-bottom: 3rem
        width: fit-content
        height: fit-content
        &:last-child
            margin-bottom: 0
        &_right
            position: absolute
            right: 0
    &__icon
        height: 3.7rem
        width: 3.7rem

.contacts
    &__items
        position: relative

.visitors-section
    &__background
        width: 100%
        height: 54rem
        background: $color-gray
    &__desc
        font-size: 20px
        font-weight: 400

.history-section
    &__background
        width: 100%
        height: 54rem
        background: $color-gray
    &__desc
        font-size: 20px
        font-weight: 400
    &__img
        width: 100%

.style-link
    &:link, &:visited
        text-decoration: none
        color: $color-black
        font-weight: 500
        &:hover
            color: $color-orange
    &__arrow 
        width: 1.5rem
        height: 1.5rem
        &_2
            width: 1.5rem
            height: 1.5rem
            transform: rotate(180deg)
